%h1 Listing zip_codes

%table
  %thead
    %tr
      %th Code
      %th City
      %th
      %th
      %th

  %tbody
    - @zip_codes.each do |zip_code|
      %tr
        %td= zip_code.code
        %td= zip_code.city
        %td= link_to 'Show', zip_code
        %td= link_to 'Edit', edit_zip_code_path(zip_code)
        %td= link_to 'Destroy', zip_code, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Zip code', new_zip_code_path
