%h1 Listing area_codes

%table
  %thead
    %tr
      %th Code
      %th
      %th
      %th

  %tbody
    - @area_codes.each do |area_code|
      %tr
        %td= area_code.code
        %td= link_to 'Show', area_code
        %td= link_to 'Edit', edit_area_code_path(area_code)
        %td= link_to 'Destroy', area_code, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Area code', new_area_code_path
